<html>
<head>
    <title>Dodaj książke</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pretty.css')}}">
</head>
<body>
Wprowadź dane książki
<form method="POST">
    </br>
    <div class="container">
    <label for="title"> Tytuł</label>
    <input type=text placeholder="Wprowadz tytul" name="title" id="title" required>
    </br>
    <label for="authors"> Wybierz autora</label>
    <input placeholder="znajdz autora na liscie" list="authors" name="author" required>
    <datalist id="authors">
       {% for author in authors %}
        <option value="{{ author.firstName}} {{author.lastName}}">
            {{ author.firstName}} {{author.lastName}}
            </option>
            {% else %}
            <option value="nope">Brak autorów w bazie</option>
        {% endfor %}
    </datalist>
    Jeśli nie znalazłeś autora na liście możesz<a class=link href="addAuthor"> dodać</a>
    <input type="hidden" value="addBook">
    </br>
    <label for="file"> Okładka</label>
    <input type="file" name="imageURL" id="file">
</br>
<input type="submit" value="Dodaj">
</div>
</form>
</body>
</html>